apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-demo-purpose
  namespace: college-erp-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers: 
      - name: imp
        image: newimage:local
        ports:
        - containerPort: 8000 
