apiVersion: v1
kind: Service
metadata:
  name: my-service
  namespace: college-erp-dev
spec:
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP

